:root {
    --main-color: #2b2b2b;
    --secondary-color: #3a3a3a;
    --component-color: #696969;
    --text-color: rgb(255, 153, 0);
}

body {
    background-color: var(--main-color);
}

#right-area {
    background-color: var(--secondary-color);
    color: white;
}

#right-area h3 {
    text-align: center;
    padding: 15px 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#right-area ul {
    list-style: none;
    padding: 0%;
}

#right-area ul li {
    background-color: var(--component-color);
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

#right-area ul li:hover {
    transform: scale(0.9, 0.9);
    background-color: var(--text-color);
}

#right-area ul li a {
    color: white;
    text-decoration: none;
}

#right-area ul li i {
    font-size: 15px;
}

#right-area #navbarNav li {
    background-color: #5c5b5b;
}

.add-new-category {
    margin-top: 50px;
}

.add-new-category label {
    margin-bottom: 5px;
    color: white;
}

.add-new-category input {
    background-color: var(--component-color);
}

.btn-custom {
    width: 40%;
    background-color: var(--text-color);
    color: white;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}